.env
/env.json
.phpunit.result.cache
/.phpunit.cache/
/vendor/
/build/
/var/log/*
!var/log/.gitkeep
/var/tmp/*
!/var/tmp/cache/
/var/tmp/cache/*
!var/tmp/cache/.gitkeep
!/var/tmp/di/
/var/tmp/di/*
!var/tmp/di/.gitkeep
/tests/Http/log/*
!/tests/Http/log/.gitkeep
phpunit.xml
/docs/api/
/.phpcs.xml
/.phpcs-cache
/vendor-bin/**/vendor/
/var/db/*.sq3
/var/db/*.sq3.sqlite3

