# Exclude build/test files from archive.
/tests                           export-ignore
/vendor-bin                      export-ignore
/.gitattributes                  export-ignore
/.gitignore                      export-ignore
/codecov.yml                     export-ignore
/phpcs.xml                       export-ignore
/phpmd.xml                       export-ignore
/phpstan.neon                    export-ignore
/psalm.xml                       export-ignore
/phpunit.xml.dist                export-ignore
/.develop                        export-ignore

# Configure diff output for .php and .phar files.
*.php diff=php
*.phar -diff

# No show diffs
/vendor-bin/**/composer.lock binary

# Text files use LF line endings
* text=auto eol=lf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
