/vendor/
/build/
/.idea/

/composer.lock
/phpunit.xml
/.php_cs.cache
/vendor-bin/tools/vendor
.phpunit.result.cache
.phpcs-cache
tests/Fake/docs/
tests/Fake/descriptor/
lsp/
tests/Fake/multiple_link/multiple_link.dot
tests/Fake/multiple_link/multiple_link.svg
