parameters:
	ignoreErrors:
		-
			message: "#^If condition is always true\\.$#"
			count: 1
			path: src/DumpDocs.php

		-
			message: "#^Method Koriym\\\\AppStateDiagram\\\\DumpDocs\\:\\:getInlineDescriptors\\(\\) should return non\\-empty\\-array\\<int, Koriym\\\\AppStateDiagram\\\\AbstractDescriptor\\> but returns array\\{\\}\\.$#"
			count: 1
			path: src/DumpDocs.php

		-
			message: "#^PHPDoc tag @param references unknown parameter\\: \\$descriptor$#"
			count: 1
			path: src/DumpDocs.php

		-
			message: "#^Parameter \\#1 \\$string of function strlen expects string, string\\|null given\\.$#"
			count: 1
			path: src/DumpDocs.php

		-
			message: "#^Parameter \\#1 \\$string of function substr expects string, string\\|null given\\.$#"
			count: 1
			path: src/DumpDocs.php
